
.content-cards{
    button {
        margin-top: 7px;
        margin-right: 10px;
        float:right;
    }
    li {
        display: inline-block;
        color: rgba(0, 0, 0, 0.45);
        padding: 0 16px;
        position: relative;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-top: 10px;
        width: 13%;
    }
}
